<form action="/users/update" method="POST">
    <input type="hidden" name="id" value={{user.id}}>
    <div>
        <label for="name">Nome:</label>
        <input type="text" name="name" value={{user.name}} placeholder="Digite seu nome">
    </div>
     <div>
        <label for="age">Idade:</label>
        <input type="text" name="age" value={{user.age}} placeholder="Digite seu nome">
    </div>
     <div>
        <label for="occupation">Profissão:</label>
        <input type="text" name="occupation" value={{user.occupation}} placeholder="Digite seu nome">
    </div>
    <div>
        <input type="submit" value="EDITAR USUÁRIO">
    </div>
</form>