<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulário</title>
    <link rel="stylesheet" href="css/form.css">
</head>
<body>
    
    <form action="/form/save" method="POST">

        <div>
            <input type="text" name="name" placeholder="Digite seu nome">
        </div>
        <div>
            <input type="text" name="age" placeholder="Digite sua idade">
        </div>
        <div>
            <input type="submit" value="CADASTRAR">
        </div>

    </form>

</body>
</html>