<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM PAGE</title>
</head>
<body>
    <h1>CADASTRAR USUÁRIO</h1>

    <form action="/users/save" method="POST">
        <div>
            <input type="text" name="name" placeholder="digite seu nome">
        </div>
        <div>
            <input type="text" name="age" placeholder="digite sua idade">
        </div>
        <div>
            <input type="submit" placeholder="CADASTRAR">
        </div>
    </form>
</body>
</html>