<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>node com mysql</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
        <h3>CONTROLE DE USUÁRIOS</h3>
    </header>

    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="">CADASTRAR USUÁRIO</a></li>
        </ul> 
    </nav>

    {{{body}}}
</body>
</html>